@CHARSET "UTF-8";
.westaccordion{
	padding:0;
	height:100%;
	width:100%;
	margin:0;
}

.ui-layout-east,.ui-layout-center,.ui-layout-west{
	padding:0;
	margin:0;
}
.ui-layout-north{
	padding:0px;
	background-color:#E7E5E2;
	margin:0px;
}

a{
	outline: none;
}
a:active {
	star:expression(this.onFocus=this.blur());
}
:focus{
	 outline:0; 
}

img{
	border:1px outset #E7E5E2;
}

.selected_component{
	border:1px solid #EAF;
}

h3{
	padding:0;
	margin:0;
}

.drag_handler{
	width:10px;
	height:10px;
	position:absolute;
	background:#CCCCCC;
	cursor:move;
}